h1{
    color:beige;
}
h3{
    text-align: center;
}
header{
    text-align: center;
}
h2{
    position: fixed;
    color:black;
    text-align: center;
}
h4{
    text-align: center;
}
p{
    color:black;
    top:20%;
}